* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 400px;
    height: 200vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h3 {
    font-weight: normal;
    margin-bottom: 1rem;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
}

.male {
    background-color: steelblue;
    border-color: steelblue;
}

.female {
    border-color: pink;
    background-color: pink;
    color: #333;
}

button {
    display: inline-block;
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(0.98);
}

.circle-color  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
}













