.container-1 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.container-2, .container-3, .container-4{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.flex-box-container-2, .flex-box-rip, .flex-box-pick-color {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid blue;
}

.flex-box-container-2 img {
    border: 1px solid green;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rip img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}





